@model IEnumerable<Bonisoft_1.persona>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Agregar", "Create", "Personas", null, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            Fecha Nac.
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CI)
        </th>
        <th>
            Medio cto. 1
        </th>
        <th>
            Medio cto. 2
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ciudad)
        </th>
        <th>
            Depto.
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentarios)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_nacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CI)
            </td>
            <td>
                @Html.ActionLink(item.Contacto_medio_1_ID.ToString(), "Contacto_medio", new { id = item.Contacto_medio_1_ID })
                @*@Html.DisplayFor(modelItem => item.Contacto_medio_1_ID)*@
            </td>
            <td>
                @Html.ActionLink(item.Contacto_medio_2_ID.ToString(), "Contacto_medio", new { id = item.Contacto_medio_2_ID })
                @*@Html.DisplayFor(modelItem => item.Contacto_medio_2_ID)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentarios)
            </td>
            <td>
                @Html.ActionLink("Modificar", "Edit", "Personas", new { id = item.Persona_ID }, null) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Persona_ID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Persona_ID })
            </td>
        </tr>
    }

</table>
