@model Bonisoft_1.usuario

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    if (@ViewBag.Message != null)
    {
        <div style="border:1px solid red">
            @ViewBag.Message
        </div>

    }

    <table>
        <tr>
            <td>@Html.LabelFor(a => a.Nombres)</td>
            <td>@Html.TextBoxFor(a => a.Nombres)</td>
            <td>@Html.ValidationMessageFor(a=>a.Nombres)</td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(a=>a.Clave)
            </td>
            <td>
                @Html.TextBoxFor(a => a.Clave)
            </td>
            <td>
                @Html.ValidationMessageFor(a => a.Clave)
            </td>
        </tr>
        <td>
            <input type="submit" value="Login" />
        </td>
</table>
}