@model Bonisoft_1.chofer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>chofer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Persona_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresa_pertenece_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa_pertenece_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentarios)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modificar", "Edit", new { id = Model.Chofer_ID }) |
    @Html.ActionLink("Volver", "Datos", "Datos", new { table = "Choferes" }, null)
</p>
