@model IEnumerable<Bonisoft_1.chofer>

<p>
    @Html.ActionLink("Agregar", "Create", "Choferes", null, null)
</p>
<table class="table">
    <tr>
        <th>
            Persona
        </th>
        <th>
            Empresa
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentarios)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (ViewBag.PersonaName != null)
                {
                @Html.ActionLink((string)ViewBag.PersonaName, "GetPersona", new { id = item.Persona_ID })
                }
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Empresa_pertenece_ID)*@

                @if (ViewBag.PersonaName != null)
                {
                    @Html.ActionLink((string)ViewBag.EmpresaName, "GetEmpresa", new { id = item.Empresa_pertenece_ID })
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentarios)
            </td>
            <td>
                @Html.ActionLink("Modificar", "Edit", new { id = item.Chofer_ID }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Chofer_ID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Chofer_ID })
            </td>
        </tr>
    }

</table>
