@model IEnumerable<Bonisoft_1.viaje>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Precio_compra_por_tonelada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio_valor_total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Importe_viaje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Saldo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Forma_de_pago_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carga_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descarga_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pesada_origen_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pesada_destino_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empresa_de_carga_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_partida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_llegada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Camion_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chofer_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentarios)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Precio_compra_por_tonelada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio_valor_total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Importe_viaje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Saldo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Forma_de_pago_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carga_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descarga_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pesada_origen_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pesada_destino_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa_de_carga_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_partida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_llegada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Camion_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chofer_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentarios)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Viaje_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Viaje_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Viaje_ID })
        </td>
    </tr>
}

</table>
