@model Bonisoft_1.pesada

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Está seguro que desea eliminar?</h3>
<div>
    <h4>pesada</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lugar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lugar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_balanza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_balanza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor_pesada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor_pesada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentarios)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Datos", "Datos", new { table = "Clientes" }, null)
        </div>
    }
</div>
