@model IEnumerable<Bonisoft_1.pesada>

@{
    ViewBag.Title = "Index";
}



<p>
    @Html.ActionLink("Agregar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lugar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            Nombre balanza
        </th>
        <th>
            Valor pesada
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentarios)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Lugar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_balanza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor_pesada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentarios)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id=item.Pesada_ID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Pesada_ID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Pesada_ID })
        </td>
    </tr>
}

</table>
