@model IEnumerable<Bonisoft_1.cliente>

<p>
    @Html.ActionLink("Agregar", "Create", "Clientes", null, null)
</p>
<table class="table">
    <tr>
        <th>
            Dueño
        </th>
        <th>
            Encargado leña
        </th>
        <th>
            Encargado pagos
        </th>
        <th>
            Supervisor leña
        </th>
        <th>
            Contacto nuestro
        </th>
        <th>
            Forma de pago
        </th>
        <th>
            Periodos de liquidación
        </th>
        <th>
            Fechas de pago
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentarios)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto_dueno_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto_encargado_lena_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto_encargado_pagos_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto_supervisor_lena_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto_nuestro_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Forma_de_pago_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periodos_liquidacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fechas_pago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentarios)
            </td>
            <td>
                @Html.ActionLink("Modificar", "Edit", new { id = item.Cliente_ID }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Cliente_ID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Cliente_ID })
            </td>
        </tr>
    }

</table>
