@model Bonisoft_1.contacto_medio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>contacto_medio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono_interno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono_interno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentarios)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Contacto_medio_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
