@model IEnumerable<Bonisoft_1.descarga_viaje>

@{
    ViewBag.Title = "Index";
}



<p>
    @Html.ActionLink("Agregar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Viaje_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuadrilla_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Demora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentarios)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Viaje_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuadrilla_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Demora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentarios)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id=item.Descarga_viaje_ID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Descarga_viaje_ID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Descarga_viaje_ID })
        </td>
    </tr>
}

</table>
