@model IEnumerable<Bonisoft_1.camion>

<p>
    @Html.ActionLink("Agregar", "Create", "Camiones", null, null)
</p>
<table class="table">
    <tr>
        <th>
            Matrícula
        </th>
        <th>
            Zorra
        </th>
        <th>
            Ejes
        </th>
        <th>
            Peso Tara origen
        </th>
        <th>
            Peso Tara destino
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            Peso neto
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentarios)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula_camion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula_zorra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero_ejes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso_Tara_origen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso_Tara_destino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso_Neto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentarios)
            </td>
            <td>
                @Html.ActionLink("Modificar", "Edit", new { id = item.Camion_ID }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Camion_ID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Camion_ID })
            </td>
        </tr>
    }

</table>
