@model IEnumerable<Bonisoft_1.chofer>

<p>
    @Html.ActionLink("Agregar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Persona
            @*@Html.DisplayNameFor(model => model.Persona_ID)*@
        </th>
        <th>
            Empresa
            @*@Html.DisplayNameFor(model => model.Empresa_pertenece_ID)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentarios)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Persona_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa_pertenece_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentarios)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id=item.Chofer_ID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Chofer_ID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Chofer_ID })
        </td>
    </tr>
}

</table>
