@model Bonisoft_1.proveedor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>proveedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empresa_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentarios)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Proveedor_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
