@model Bonisoft_1.usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Interno_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interno_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ultima_conexion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ultima_conexion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modificar", "Edit", new { id = Model.Usuario_ID }) |
    @Html.ActionLink("Volver", "Datos", "Datos", new { table = "Clientes" }, null)
</p>
