@model IEnumerable<Bonisoft_1.usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Agregar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Interno_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ultima_conexion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Interno_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ultima_conexion)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id=item.Usuario_ID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Usuario_ID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Usuario_ID })
        </td>
    </tr>
}

</table>
