@model Bonisoft_1.forma_de_pago

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>forma_de_pago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Forma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Forma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentarios)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Forma_de_pago_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
