@model Bonisoft_1.interno

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>interno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Persona_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_ingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_ingreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_egreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_egreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentarios)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modificar", "Edit", new { id = Model.Interno_ID }) |
    @Html.ActionLink("Volver", "Index")
</p>
