@model Bonisoft_1.empresa

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Está seguro que desea eliminar?</h3>
<div>
    <h4>empresa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_fantasia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_fantasia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_real)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_real)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RUT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RUT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contacto_medio_1_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contacto_medio_1_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contacto_medio_2_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contacto_medio_2_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contacto_persona_1_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contacto_persona_1_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contacto_persona_2_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contacto_persona_2_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Banco_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Banco_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentarios)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Datos", "Datos", new { table = "Empresas" }, null)
        </div>
    }
</div>
